
# Build directories
/build/
/out/
/bin/
/obj/

# IDE-specific files
*.iml
.idea/
*.suo
*.user
*.vcxproj*
*.ncb
*.sdf
*.opensdf

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
*.bak
*.swp

# Libraries
*.lib
*.a
*.dll
*.so
*.dylib

# Compiled object files
*.o
*.obj

# Executables
*.exe
*.out

# Archives
*.zip
*.tar
*.gz
*.bz2
*.7z

# CMake-specific files
CMakeCache.txt
CMakeFiles/
*.cmake
cmake_install.cmake

# Dependency directories
/deps/
/_deps/
/external/

# Version control
!.gitignore  # Do not ignore the .gitignore file itself

Makefile

MyBrowser
MyBrowserTests